
* {
  font-size: 14px;
}

.margin-y {
  margin-top: 70px;
}
.mini-section-main{
  padding-top: 20px;
}
.gallery-padding{
  padding : 30px;
}
.price{
  color: var(--orange);
}
.price.mt-1{
  font-size: 13px !important;
  font-weight: 600;
}
.info-wrap{
  /* font-weight: 500; */
  color:gray;
}

.itemside .title{
  font-size : 14px !important;
}