
.margin-y {
  margin-top: 70px;
}

.gallery-padding{
  padding : 30px;
}

.price{
  font-size: 13px;
  font-weight: 600;
  color: var(--orange);
}
.info-wrap{
  /* font-weight: 500; */
  color:gray;
}